.nav{
    margin: 0;
    padding: 0;
    list-style:none ;
}

.nav-link{
    padding: 15px;
    margin: 0px;
    display: inline-block;
}


.nav-number{
    counter-reset: number-item;
}

.nav-number li::before{
    content:counter(number-item);
    counter-increment: number-item;
    position:absolute;
    left:0;
    font-size: 20px;
    font-weight: 800;
    opacity: .2;
}

.nav-number li{
    position:relative;
    padding-left:1.5em;
}