
a{
    color:blue;
}

.card-success {
    color: green;
}

.card-error{
    color: yellow;
}

a.card-button{
    background: #ff2011;
    /*padding:20px;*/
    margin-top: 10rem;
    color: inherit;
    /*加上這行才會繼承父元素的顏色而改變 不然就都是藍色的*/
}
