
.container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    /*新增*/
    position: relative;
}


.site-header{
    background-color: #30A9DE
}

.site-header-inner{
    height: 100px;
    background-color: #4AB8E8
}

.site-logo{
    /*設定位置*/
    position: absolute;
    top: 10px;
    left:10px;

    /*設定樣式*/
    color: #fff;
    text-transform: uppercase;
    font-weight: 800;
}


.someone{
    position: absolute;
    left: 0;
    right: 0;
    top:0;
    bottom: 0;
}