
a{
    color:blue
}

.card-success {
    color: green
}

.card-error{
    color: red
}

a.card-button{
    background: #2f2f2f;
    /*padding:20px 20px;*/
    color: inherit;
    /*會繼承父元素的顏色而改變 不然就都是藍色的*/
}

/*基本樣式*/
.button{}

/*綠色*/
.button-green{}
.button-blue{}
.button-big{}
.button-small{}

li{
    color:#000
}

/*
li.error-text{
    color:red
}
*/


.error-text{
    color:red
}